default_install_hook_types: [pre-commit, pre-push]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-toml
  - id: check-added-large-files
  - id: debug-statements
  - id: mixed-line-ending
    args: [--fix=lf]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
  - id: ruff-check
    args: [--fix]
  - id: ruff-format
- repo: local
  hooks:
  - id: pytest
    name: pytest
    entry: uv run pytest -v
    language: system
    pass_filenames: false
    always_run: true
    stages: [pre-push]
