"""Main application entry point."""

{% if is_package %}from . {% endif %}import logconfig
from {% if is_package %}.{% endif %}settings import load_settings

settings = load_settings()
logconfig.setup()


def main() -> None:
    """Main application entry point."""
    pass


if __name__ == "__main__":
    main()
